html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  vertical-align: middle;
  display: block;
  max-width: 25em;
}

.btn {
  text-align: center;
  text-decoration: none;
  border: 3px solid #333;
  border-radius: 4px;
  padding: .5em;
  background-color: #f2f2f2;
  color: black;

}

h2 {
  font-family: "Lato", sans-serif;
}

p {
  text-align: left;
  max-width: none;
  margin: 1.5rem;
  margin-bottom: 0;
  max-width: 25em;
}

.btn:hover {
  background-color: #666;
  color: #f2f2f2;
  border: 3px solid #666;
}

div {
  display: inline-block;
}

body {
  margin: 0;
  vertical-align: middle;
  text-align: center;
}
